<div class="container-fluid">
  <div class="col-md-12">
    <div ng-controller="UserManageAccountCtrl">
      <div class="panel panel-primary">
        <h2 class="panel-heading">Transaction report</h2>
        <table class="table table-striped table-hover" data-effect="fade">
          <thead>
          <tr>
            <th>Source ID</th>
            <th>Destination ID</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="transaction in pastTransactions">
            <td>{{transaction.source._id == account._id ? 'This account' : transaction.source._id }}</td>
            <td>{{transaction.destination._id == account._id ? 'This account' : transaction.destination._id }}</td>
            <td>{{transaction.date | amDateFormat: 'DD-MM-YYYY HH:mm'}}</td>
            <td>{{transaction.amount}}</td>
            <td>
              <span class="label label-success" ng-show="transaction.status == 'approved'"><i class="fa fa-check"> Approved</i></span>
              <span class="label label-danger" ng-show="transaction.status == 'declined'"><i class="fa fa-times"> Declined</i></span>
              <span class="label label-info" ng-show="transaction.status == 'pending'"><i class="fa fa-info"> Pending</i></span>
            </td>
          </tr>
          </tbody>
        </table>

        <span>Current funds: {{account.currentFunds}}</span>
      </div>
    </div>
  </div>
</div>
