<div class="container col-md-4 col-md-offset-4">
  <h1>Login</h1>
  <form novalidate class="formLogin" name="formLogin">
    <div class="form-group has-feedback" ng-class="{'has-error':formLogin.email.$dirty && formLogin.email.$invalid && (formLogin.email.$error.required || formLogin.email.$error.email)}">
      <label for="email" class="sr-only">Email</label>
      <input type="email" name="email" id="email" class="form-control" placeholder="Email" required ng-model="user.email">
          <span class="fa fa-times form-control-feedback" ng-show="formLogin.email.$dirty && formLogin.email.$invalid && (formLogin.email.$error.required || formLogin.email.$error.email)">
          </span>
    </div>

    <div class="form-group has-feedback" ng-class="{'has-error':formLogin.password.$dirty && formLogin.password.$invalid && formLogin.password.$error.required}">
      <label for="password" class="sr-only">Password</label>
      <input type="password" name="password" id="password" class="form-control" placeholder="Password" ng-model="user.password" required>
          <span class="fa fa-times form-control-feedback" ng-show="formLogin.password.$dirty && formLogin.password.$invalid && formLogin.password.$error.required">
          </span>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login(user)" ng-disabled="(formLogin.$dirty && formLogin.$invalid) || formLogin.$pristine">Login</button>

    <label ng-show="loginMessage">{{loginMessage}}</label>
  </form>
</div>
