<div class="container col-md-4 col-md-offset-4">
	<h1>Register</h1>
		<form class="formRegister" name="formRegister" novalidate>
			<div class="form-group has-feedback" ng-class="{'has-error':formRegister.name.$dirty && formRegister.name.$invalid && formRegister.name.$error.required}">
          <label for="name" class="sr-only">Name</label>
          <input type="text" id="name" name="name" class="form-control" placeholder="Name" required autofocus ng-model="user.name">
          <span class="fa fa-times form-control-feedback" ng-show="formRegister.name.$dirty && formRegister.name.$invalid && formRegister.name.$error.required">
          </span>
			</div>

			<div class="form-group has-feedback" ng-class="{'has-error':formRegister.email.$dirty && formRegister.email.$invalid && (formRegister.email.$error.required || formRegister.email.$error.email)}">
	        <label for="email" class="sr-only">Email</label>
	        <input type="email" name="email" id="email" class="form-control" placeholder="Email" required ng-model="user.email">
          <span class="fa fa-times form-control-feedback" ng-show="formRegister.email.$dirty && formRegister.email.$invalid && (formRegister.email.$error.required || formRegister.email.$error.email)">
          </span>
			</div>

			<div class="form-group has-feedback" ng-class="{'has-error':formRegister.password.$dirty && formRegister.password.$invalid && formRegister.password.$error.required}">
	        <label for="password" class="sr-only">Password</label>
	        <input type="password" name="password" id="password" class="form-control" placeholder="Password" ng-model="user.password" ng-class="{'ng-invalid':formRegister.passwordRepeat.$error.match}" required>
          <span class="fa fa-times form-control-feedback" ng-show="formRegister.password.$dirty && formRegister.password.$invalid && formRegister.password.$error.required">
          </span>
			</div>

			<div class="form-group has-feedback" ng-class="{'has-error':formRegister.passwordRepeat.$dirty && formRegister.passwordRepeat.$error.match}">
          <label for="passwordRepeat" class="sr-only">Repeat password</label>
          <input type="password" name="passwordRepeat" id="passwordRepeat" class="form-control" placeholder="Password" ng-model="user.passwordRepeat" data-match="user.password">
          <span class="fa fa-times form-control-feedback" ng-show="formRegister.passwordRepeat.$dirty && formRegister.passwordRepeat.$error.match">
          </span>
			</div>

	        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="register(user)" ng-disabled="(formRegister.$dirty && formRegister.$invalid) || formRegister.$pristine">Login</button>

          <label ng-show="registerMessage">{{registerMessage}}</label>
  	</form>
</div>
